<div class="row">
    <h1>Formacion Academica</h1>
    <div class="col-lg-10">
        <ul>
            <li>
                <img src="../../../assets/ispc.png" id="ispc">
                <h1> Tecnicatura en Desarrollo Web</h1> - <h3>Marzo 2022</h3>
            </li>
            <p>Instituto Superior Politécnico de Córdoba. Modalidad Virtual. Duración: 2 años.</p>
            <br> <br> <br> <br>
            <li>
                <img src="../../../assets/utn virtual.png" id="utn">
                <h1> Tecnicatura Universitaria en Higiene y Seguridad Laboral</h1> - <h3>Marzo 2017-2022</h3>
            </li>
            <p>Universidad Tecnológica Nacional. Sede Mendoza. Modalidad: A Distancia.
                26 materias aprobadas. Trabajo Final pendiente.</p>
                <br> <br> <br> <br>
            <li>
                <img src="../../../assets/liceo.png" id="liceo">
                <h1>Título Secundario con Orientación en Ciencias Sociales y Humanidades </h1> - <h3>Marzo 2000- Diciembre 2006</h3>
            </li>
            <p>Colegio Secundario "Brig. Gral. Pedro Ferré". VelezSarsfield 1148. Corrientes, Argentina.</p>
        </ul>

    </div>
</div>

<div class="row">
    <h1>Otros Cursos</h1>
    <div class="col-lg-10">
        <ul>
            <li>
                <img src="../../../assets/srt.png" id="srt">
                <h3> Introducción al Sistema de Riesgos del Trabajo</h3><h3>- Septiembre 2021.</h3>
            </li>
            <p>Aula Virtual.Superintendencia de Riesgos del Trabajo.</p>

            <li>
                <img src="../../../assets/srt.png" id="srt">
                <h3>Guía Práctica sobre el sistema de Riesgos del Trabajo</h3><h3>- Septiembre 2021</h3>
            </li>
            <p>Aula Virtual. Superintendencia de Riesgos del Trabajo.</p>

            <li>
                <img src="../../../assets/srt.png" id="srt">
                <h3> Derechos y Obligaciones de los Actores del Sistema de Riesgos del Trabajo</h3><h3>- Septiembre 2021</h3>
            </li>
            <p>Aula Virtual. Superintendencia de Riesgos del Trabajo. </p>

            <li>
                <img src="../../../assets/cordoba.png" id="cordoba">
                <h3> Higiene y Seguridad en el Trabajo</h3><h3>- Marzo 2021</h3>
            </li>
            <p></p>

            <li>
                <img src="../../../assets/cordoba.png" id="cordoba">
                <h3> Herramientas didácticas situadas </h3><h3>- Marzo 2021</h3>
            </li>
            <p>Campus Virtual de la Universidad de Córdoba</p>

            <li>
                <img src="../../../assets/activate.png" id="activate">
                <h3> Curso de Introducción al Desarrollo Web</h3><h3>- Febrero 2016</h3>
            </li>
            <p>Historia web, funcionamiento, escritura web, publicación, web correcta</p>

            <li>
                <img src="../../../assets/activate.png" id="activate">
                <h3> Curso de Productividad Personal en la Era Digita</h3><h3>- Febrero 2016</h3>
            </li>
            <p> Emitido por la Fundación Santa María la Real. Temas: Plan estratégico, marca personal, comunicación 2.0, groupware tools, ideas, problemas, gestión de tiempo, presentaciones</p>

        </ul>

    </div>
</div>