<div class="row">
    <h1> Hard Skills</h1>
        <div class="text-center col-sm-3 col-md-3 col-lg-3">
    <circle-progress
        [percent]="54"
        [showUnits]="true"
        [radius]="100"
        [subtitle]="'54'"
        [showSubtitle]="true"
        [imageSrc]="'../../../assets/html.png'"
        [showImage]="true"
        [imageHeight]="70"
        [imageWidth]="80"
        [titleFontSize]="'2em'"
        [unitsFontSize]="'2em'"
        [showSubtitle]="false"
        [outerStrokeWidth]="20"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'#7A0BC0'"
        [innerStrokeColor]="'#F582A7'"
        [backgroundColor]="'#FEFBE7'"	
        [animation]="true"
        [animationDuration]="500"
></circle-progress>
        </div>

        <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
            [percent]="54"
            [showUnits]="true"
            [radius]="100"
            [imageSrc]="'../../../assets/css.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="80"
            [titleFontSize]="'2em'"
            [unitsFontSize]="'2em'"
            [showSubtitle]="false"
            [outerStrokeWidth]="20"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#7A0BC0'"
            [innerStrokeColor]="'#F582A7'"
            [backgroundColor]="'#FEFBE7'"
            [animation]="true"
            [animationDuration]="600"
    ></circle-progress>
        </div>

        <div class="text-center col-sm-3 col-md-3 col-lg-3">
            <circle-progress
                [percent]="54"
                [showUnits]="true"
                [radius]="100"
                [imageSrc]="'../../../assets/js.png'"
                [showImage]="true"
                [imageHeight]="70"
                [imageWidth]="80"
                [titleFontSize]="'2em'"
                [unitsFontSize]="'2em'"
                [showSubtitle]="false"
                [outerStrokeWidth]="20"
                [innerStrokeWidth]="5"
                [outerStrokeColor]="'#7A0BC0'"
                [innerStrokeColor]="'#F582A7'"
                [backgroundColor]="'#FEFBE7'"
                [animation]="true"
                [animationDuration]="600"
        ></circle-progress>
        </div>

        <div class="text-center col-sm-3 col-md-3 col-lg-3">
            <circle-progress
                [percent]="54"
                [showUnits]="true"
                [radius]="100"
                [imageSrc]="'../../../assets/angular.png'"
                [showImage]="true"
                [imageHeight]="70"
                [imageWidth]="80"
                [titleFontSize]="'2em'"
                [unitsFontSize]="'2em'"
                [showSubtitle]="false"
                [outerStrokeWidth]="20"
                [innerStrokeWidth]="5"
                [outerStrokeColor]="'#7A0BC0'"
                [innerStrokeColor]="'#F582A7'"
                [backgroundColor]="'#FEFBE7'"
                [animation]="true"
                [animationDuration]="600"
        ></circle-progress>
            </div>
        
            <div class="text-center col-sm-3 col-md-3 col-lg-3">
                <circle-progress
                    [percent]="54"
                    [showUnits]="true"
                    [radius]="100"
                    [imageSrc]="'../../../assets/kisspng-responsive-web-design-bootstrap-front-end-web-deve-5b00538e3cc8c9.967199441526748046249.png'"
                    [showImage]="true"
                    [imageHeight]="80"
                    [imageWidth]="80"
                    [titleFontSize]="'2em'"
                    [unitsFontSize]="'2em'"
                    [showSubtitle]="false"
                    [outerStrokeWidth]="20"
                    [innerStrokeWidth]="5"
                    [outerStrokeColor]="'#7A0BC0'"
                    [innerStrokeColor]="'#F582A7'"
                    [backgroundColor]="'#FEFBE7'"
                    [animation]="true"
                    [animationDuration]="600"
            ></circle-progress>
                </div>
</div>

<div class="row">
    <h1> Soft Skills</h1>
        <div class="text-center col-sm-3 col-md-3 col-lg-3">
    <circle-progress
        [percent]="54"
        [showUnits]="true"
        [radius]="100"
        [imageSrc]="'../../../assets/accenture.png'"
        [showImage]="true"
        [imageHeight]="40"
        [imageWidth]="150"
        [titleFontSize]="'2em'"
        [unitsFontSize]="'2em'"
        [showSubtitle]="false"
        [outerStrokeWidth]="20"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'#7A0BC0'"
        [innerStrokeColor]="'#F582A7'"
        [backgroundColor]="'#FEFBE7'"
        [animation]="true"
        [animationDuration]="600"
></circle-progress>
        </div>

        <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
            [percent]="54"
            [showUnits]="true"
            [radius]="100"
            [imageSrc]="'../../../assets/accenture.png'"
            [showImage]="true"
            [imageHeight]="40"
            [imageWidth]="150"
            [titleFontSize]="'2em'"
            [unitsFontSize]="'2em'"
            [showSubtitle]="false"
            [outerStrokeWidth]="20"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#7A0BC0'"
            [innerStrokeColor]="'#F582A7'"
            [backgroundColor]="'#FEFBE7'"
            [animation]="true"
            [animationDuration]="600"
    ></circle-progress>
        </div>

        <div class="text-center col-sm-3 col-md-3 col-lg-3">
            <circle-progress
                [percent]="54"
                [showUnits]="true"
                [radius]="100"
                [imageSrc]="'../../../assets/accenture.png'"
                [showImage]="true"
                [imageHeight]="40"
                [imageWidth]="150"
                [titleFontSize]="'2em'"
                [unitsFontSize]="'2em'"
                [showSubtitle]="false"
                [outerStrokeWidth]="20"
                [innerStrokeWidth]="5"
                [outerStrokeColor]="'#7A0BC0'"
                [innerStrokeColor]="'#F582A7'"
                [backgroundColor]="'#FEFBE7'"
                [animation]="true"
                [animationDuration]="600"
        ></circle-progress>
        </div>

        <div class="text-center col-sm-3 col-md-3 col-lg-3">
            <circle-progress
                [percent]="54"
                [showUnits]="true"
                [radius]="100"
                [imageSrc]="'../../../assets/accenture.png'"
                [showImage]="true"
                [imageHeight]="40"
                [imageWidth]="150"
                [titleFontSize]="'2em'"
                [unitsFontSize]="'2em'"
                [showSubtitle]="false"
                [outerStrokeWidth]="20"
                [innerStrokeWidth]="5"
                [outerStrokeColor]="'#7A0BC0'"
                [innerStrokeColor]="'#F582A7'"
                [backgroundColor]="'#FEFBE7'"
                [animation]="true"
                [animationDuration]="600"
        ></circle-progress>
            </div>
        
            <div class="text-center col-sm-3 col-md-3 col-lg-3">
                <circle-progress
                    [percent]="54"
                    [showUnits]="true"
                    [radius]="100"
                    [imageSrc]="'../../../assets/accenture.png'"
                    [showImage]="true"
                    [imageHeight]="40"
                    [imageWidth]="150"
                    [titleFontSize]="'2em'"
                    [unitsFontSize]="'2em'"
                    [showSubtitle]="false"
                    [outerStrokeWidth]="20"
                    [innerStrokeWidth]="5"
                    [outerStrokeColor]="'#7A0BC0'"
                    [innerStrokeColor]="'#F582A7'"
                    [backgroundColor]="'#FEFBE7'"
                    [animation]="true"
                    [animationDuration]="600"
            ></circle-progress>
                </div>
</div>
