<div clas="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/MTXX_20210402173411.jpg" class="img-fluid" id="fotoperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Silvana Elisa Sosa Escalante</p>
        <p>Full Stack Developer Jr.</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de Mi</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores, soluta aliquam? Dicta beatae quaerat molestiae est explicabo debitis, fuga aut nulla? Beatae repellendus ullam accusamus dolor atque dicta, soluta facilis?</p>
        </span>
    </div>
</div>
