.row{
    padding: 20px;
}
div{
    background-color: #000;
}
h1,h3,p{
    display:inline;
    color: #fff;
}
#ispc{
    width: 15%;
    height: 100px;
}
#utn{
    width: 15%;
    height: 100px;
}
#liceo{
    width: 5%;
    height: 80px;
}
#srt{
    width: 7%;
    height: 90px;
}
#cordoba{
    width: 8%;
    height: 80px;
}
#activate{
    width: 10%;
    height: 100px;
}