.row{
    padding: 20px;
}
div{
    background-color:black;
}
h1,h3,p{
    display:inline;
    color:#fff;
    text-align: justify;
}
#logoApx{
    width: 10%;
    height: 50px;

}
#logoIgech{
    width: 10%;
    height: 100px;
}