<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-10">
        <ul>
            <li>
                <img src="../../../assets/logo_apex.png" id="logoApx">
                <h1> Agente Multimedial - Operador Telefónico</h1> - <h3>Noviembre 2011- Febrero 2013</h3>
            </li>
            <p>Atención telefónica al Cliente (Servicio Customer).Asesoramiento y Venta de servicios (televisión e internet).
                Gestión administrativa de cuentas: cambio de titular, cambio de domicilio, alta y baja de servicios. Facturación.
            </p>
            <br> <br><br> <br>
            <li>
                <img src="../../../assets/igech.png" id="logoIgech">
                <h1>Operador de Cuentas</h1> - <h3>Noviembre 2013-Febrero 2015</h3>
            </li>
            <p>Cobranza telefónica de deudas sobre productos bancarios diversos (tarjetas de credito, cuentas corrientes, préstamos).
                Gestión de recupero de carteras Empresariales y Personales. Refinanciaciones.
            </p>
        </ul>

    </div>
</div>